* {
  font-family: 'Livvic', sans-serif;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  color: white;
  background: #0f111f;
  background: radial-gradient(ellipse at bottom, #18222e 0%, #0b0c13 100%);
}

header {
  display: flex;
  align-items: center;
}

.header-brand {
  margin: 40px 0 0 40px;
  display: inline-block;
  text-align: center;
}

.voidcosmos-title {
  margin: 0;
  font-size: 3em;
  color: white;
  font-family: 'Lexend Mega', sans-serif;
  background: linear-gradient(to right, #f46e45 0%, #eea849 100%);
 /*  background: linear-gradient(to right, rgb(6, 139, 221) 0%, #5d5ebd 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  opacity: 0.4;
}

.horizontal-nav {
  color: rgb(172, 172, 3);
  margin-left: 100px;
}

.horizontal-nav span {
  padding: 5px;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
}

.projects {
  margin-left: 40px;
  margin-top: 40px;
}

.btn {
  cursor: pointer;
}

a {
  color: rgb(221, 101, 101);
  text-decoration: none;
}

.glow {
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(244,110,69, 0.4);
  }
  30% {
    text-shadow:  0 0 10px rgba(244,110,69, 0.4)
  }
  50% {
    text-shadow:  0 0 20px rgba(238,168,73, 0.4)
  }
  70% {
    text-shadow:  0 0 20px rgba(238,168,73, 0.4)
  }
  100% {
    text-shadow:  0 0 10px rgba(244,110,69, 0.4)
  }